body {
    background-color: #f9f9f9; 
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
}

.item {
    background-color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    transition: all .3s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.item.completed {
    text-decoration: line-through;
    opacity: 0.7; 
}

.toggles {
    color: #333; 
}

.name {
    padding-top: 8px; 
    color: #555; 
}

.remove {
    padding-left: 5px; 
}

button:focus {
    outline: none; 
    border: 2px solid #555; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
